.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
  text-align: center;
}

#gameType {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid orange;
  margin-left: 10px;
}

.game {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  max-width: 100%;
  margin-bottom: 20px;
}

.game img {
  max-width: 70px;
  max-height: 70px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.game img:active {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .game img {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
}



.scoreboard {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  background-color: #ffcc00;
  border-radius: 8px;
  display: inline-block;
  animation: scoreIncrease 0.3s ease-in-out;
  transition: transform 0.3s ease;
}

/* Thumbs-Up Animation */
@keyframes thumbsUp {
  0% {
      transform: scale(1);
      color: #333;
  }
  50% {
      transform: scale(1.2);
      color: #ffcc00;
  }
  100% {
      transform: scale(1);
      color: #333;
  }
}

.scoreboard.thumbs-up {
  animation: thumbsUp 0.5s ease-in-out;
}

/* Win Animation */
@keyframes winAnimation {
  0% {
      transform: scale(1);
      background-color: #ffcc00;
      color: #000;
  }
  50% {
      transform: scale(1.5);
      background-color: #00ff00;
      color: #fff;
  }
  100% {
      transform: scale(1);
      background-color: #ffcc00;
      color: #000;
  }
}

.win {
  animation: winAnimation 1s ease-in-out;
  border: 2px solid #00ff00;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
}
