.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.controls {
  margin-block: 40px;
  text-align: center;
  color: orange;
  font-size: 20px;
}

#gameType {
  padding: 8px;
  font-size: 16px;
  color: orange;
  border-radius: 4px;
  border: 2px solid orange;
  margin-left: 10px;
}

.game {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  max-width: 100%;
  margin-bottom: 20px;
}

.game img {
  max-width: 70px;
  max-height: 70px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.game img:active {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .game img {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
}



.score-board {
  width: 160px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  padding-inline: 20px;
border:2px solid orange;
color: orange;
  border-radius: 8px;
  display: inline-block;
  animation: scoreIncrease 0.3s ease-in-out;
  transition: transform 0.3s ease;
}

/* Thumbs-Up Animation */
@keyframes thumbsUp {
  0% {
      transform: scale(1);
      color: #333;
  }
  50% {
      transform: scale(1.2);
      color: #ffcc00;
  }
  100% {
      transform: scale(1);
      color: #333;
  }
}

.scoreboard.thumbs-up {
  animation: thumbsUp 0.5s ease-in-out;
}

/* Win Animation */
@keyframes winAnimation {
  0% {
      transform: scale(1);
      background-color: #ffcc00;
      color: #000;
  }
  50% {
      transform: scale(1.5);
      background-color: #00ff00;
      color: #fff;
  }
  100% {
      transform: scale(1);
      background-color: #ffcc00;
      color: #000;
  }
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  position:relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffb940;    
  box-shadow: 0 0 0 50px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.loader:after {
  animation: l5 1s infinite;
  transform: perspective(300px) translateZ(0px)
}
@keyframes l5 {
  to {transform:perspective(300px) translateZ(150px);opacity:0}
}

/* HTML: <div class="loader"></div> */
.loader1 {
  --w:10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width:var(--w);
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0, 
    calc(-3*var(--w)) 0, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0, 
    calc(-9*var(--w)) 0;
  animation: l16 2s infinite;
}
.loader1:before {
  content:"WIN!!!";
}
@keyframes l16 {
  20% {text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0 red, 
    calc(-3*var(--w)) 0, 
    calc(-4*var(--w)) 0 #ffa516,
    calc(-5*var(--w)) 0 #63fff4, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0 green, 
    calc(-9*var(--w)) 0;}
  40% {text-shadow: 
    calc(-1*var(--w)) 0, 
    calc(-2*var(--w)) 0 red, 
    calc(-3*var(--w)) 0 #e945e9, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0 green, 
    calc(-6*var(--w)) 0 orange, 
    calc(-7*var(--w)) 0, 
    calc(-8*var(--w)) 0 green, 
    calc(-9*var(--w)) 0;}
  60% {text-shadow: 
    calc(-1*var(--w)) 0 lightblue, 
    calc(-2*var(--w)) 0, 
    calc(-3*var(--w)) 0 #e945e9, 
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0 green, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0 yellow, 
    calc(-8*var(--w)) 0 #ffa516, 
    calc(-9*var(--w)) 0 red;}
  80% {text-shadow: 
    calc(-1*var(--w)) 0 lightblue, 
    calc(-2*var(--w)) 0 yellow, 
    calc(-3*var(--w)) 0 #63fff4, 
    calc(-4*var(--w)) 0 #ffa516,
    calc(-5*var(--w)) 0 red, 
    calc(-6*var(--w)) 0, 
    calc(-7*var(--w)) 0 grey, 
    calc(-8*var(--w)) 0 #63fff4, 
    calc(-9*var(--w)) 0 ;}
}